header{
    height: 10vh;
    width: 100vw;
    background-color: grey;
}

#box{
    height: 7.5vh;
    width: 7.5vh;
    background-color: blue;
    margin: 1.25vh;
    position: absolute;

}

#text{
    height: 40vh;
    width: 100vw;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


#div1{
    height: 25vh;
    width: 100vw;
    background-color: blue;
}

#div2{
    height: 25vh;
    width: 100vw;
    background-color: seagreen;
}

#div3{
    height: 25vh;
    width: 100vw;
    background-color: green;
}

#div4{
    height: 25vh;
    width: 100vw;
    background-color: yellow;
}
#circle{
    position: fixed;
}
#circle{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 5px;
    float: right;
    z-index: 1;
    margin:20px;
    margin-top: -60px;
}

#circle-text{
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 30px;
}
